body{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

.food-intro{
    display: flex;
}
.food-intro .left-div{
    margin-top: 100px;
    width: 50%;
    padding-left:10%;
}

.left-div h1{
    font-size: 50px;
    font-family: 'Open Sans', sans-serif;
   
}
.left-div .header-color{
    color:orange;
}
.para-style{
    font-size: 20px;
    color:gray;
    padding-bottom: 30px;
}

 .button-link{
    text-decoration: none;
    padding:25px 50px;
    background-color: orange;
    border-radius: 20px;
    color:white;
    font-size:15px;
    box-shadow: 5px 5px 10px salmon;
    
}

.right-div{
    width: 50%;
}

.about-section{
    background-image: url(img/7.png);
   height: 100%;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   display: flex;

}

.left-div img{
    height: 300px;
    width: 200px;
}

#about-title{
    padding-top: 50px;
    color:gray;
    font-size:30px;
}
.experience{
    padding:20px;
    text-align: center;
}

.experience-title{
   margin: 0 auto;
   width: 50%;
}
.experience-title h3{
    font-size: 30px;
    color:gray;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.experience-title p{
    line-height: 1.2;
    text-align: center;
    /* font-style: italic; */
    /* font-weight: bold; */
    font-size: 18px;
}