body{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

.food-intro{
    display: flex;
}
.food-intro .left-div{
    margin-top: 100px;
    width: 50%;
    padding-left:10%;
}

.left-div h1{
    font-size: 50px;
    font-family: 'Open Sans', sans-serif;
   
}
.header-color{
    color:orange;
}
.para-style{
    font-size: 20px;
    color:gray;
    padding-bottom: 30px;
}

 .button-link{
    text-decoration: none;
    padding:25px 50px;
    background-color: orange;
    border-radius: 20px;
    color:white;
    font-size:15px;
    box-shadow: 5px 5px 10px salmon;
    
}

.right-div{
    width: 50%;
}

.about-section{
    background-image: url(img/7.png);
   height: 100%;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   display: flex;

}

.left-div img{
    height: 300px;
    width: 200px;
}

#about-title{
    padding-top: 50px;
    color:gray;
    font-size:30px;
}
.experience{
    padding:20px;
    text-align: center;
}

.experience-title{
   margin: 0 auto;
   width: 50%;
}
.experience-title h3{
    font-size: 30px;
    color:gray;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.experience-title p{
    line-height: 1.2;
    text-align: center;
    /* font-style: italic; */
    /* font-weight: bold; */
    font-size: 18px;
}

/* card design part start */
.card-desing{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

}
.card img{
    height: 200px;
    width: 100%;
    border-radius: 10px;
}

.card{
    /*border:2px solid black;*/
    width:25%;
    padding:5px;
    text-align: center;
    box-shadow: 5px 5px 10px black;
    width: 25%;
    margin-left: 25px;
    border-radius: 15px;
}
.card p{
    line-height: 1.2;
    font-size: 19px;
}

.resturant-details{
    max-width: 95%;
    height: 350px;
    box-sizing: border-box;
    box-shadow: 5px 5px 12px red;
    margin: auto;
    /* justify-content: center;
    align-items: center; */
}
.desc-details{
    padding:10px;
    box-sizing: border-box;
}

#resturant-header{
    padding:10px 20px;
    font-size: 30px;
    color: cadetblue;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.left-div{
    float: left;
    width: 40%;
   
    text-align: left;


}

.left-div strong,p,.right-div,p{
    font-family: 'Roboto Condensed', sans-serif;
}



.right-div{
    float: left;
    width: 40%;
    text-align: left;
}

.footer-content{
    margin-top: 30px;
    padding-top:50px;
    background-color: rgb(0,0,0);
    width: 100%;
    height: 200px;
    color:white;
    text-align: center;
}

.footer-content span{
    margin-top: 50px;
    text-transform: uppercase;
}
.footer-content h1{
    color: gray;
    text-transform: uppercase;
}